body {
  margin: 0;
  background-color: black;
  font-family: courier;
}

h1,
p,
div,
li {
  color: white;
  border: 2px solid lightblue;
  border-radius: 10%;
}

.header {
  /* display: flex; */
  /* justify-content:flex-end; */
  border: 2px solid #bada55;
}

.profile {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.site-name {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  font-size: xxx-large;
  /* height: 50px; */
}

.main-menu-container {
  /* display: flex;
  flex-direction: column; */
}

.menu-main-menu {
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-start;
  list-style-type: circle;
}

li {
  margin: 14px;
  cursor: pointer;
}

.page-view {
  padding-left: 25px;
}

.pedal-board {
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
 border: 2px solid pink;
 margin-bottom: 200px;
}

.pedal {
  flex: 1 0 20%;
  /* flex: 0 0 auto; */
  margin: 20px;
  /* width: 200px; */
  /* width: 25%; */
  height: 450px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  border: 2px solid grey;
  border-radius: 10%;
}

.pedal:hover {
  box-shadow: inset 10px 10px 35px purple;
  cursor: pointer;
  transition: box-shadow .7s;
}
